.text-center {
    text-align: center;
}

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }

.hidden { display: none !important; }

.grid-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded { border-radius: 8px; }
.shadow { box-shadow: 0 2px 6px rgba(0,0,0,0.1); }

